.container {
    position: relative;
    text-align: center;
    color: white;
  }
.header1{
    
        position: absolute;
        top: 50%;
        left: 30%;
        transform: translate(-50%, -50%);
        font-size: 60px;
      font-family: Optima, sans-serif;

}
.grids{
    display: grid;
  
    grid-template-columns:auto auto auto;
    grid-gap: 10px;
    padding: 150px;
    }
    .grids> div {
      border: 10px solid white;
      /* padding-left: 20px ;
      padding-right:20px ; */
      padding: 50px;
      font-size: 30px;
      text-align: center;
      background-color: rgb(219, 215, 175);
    }

  .input1{
      width: 400px;
      height: 40px;
      font-size: 20px;
  }


